@model IEnumerable<AspNetCoreMvc.Models.Tutorial>

@{
    ViewData["Title"] = "Index";
} 

<style>
    body {
        background-image: none;
    }</style>

<h1>Index</h1>

@{
if (User.IsInRole("admin"))
{
<p>
<a asp-action="Create">Create New</a>
</p>
} 
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
                <td>
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                }
                
                |
                 @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                
                    @if (User.IsInRole("user"))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                | 
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                </td>
        </tr>
}
    </tbody>
</table>

